
.form-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;

    .insert-form {
        background: #f8f9fa;
        padding: 32px 32px 72px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-top: 1px solid #e9ecef;

        input {
            padding: 12px;
            border-radius: 4px;
            border: 1px solid #94989b;
            width: 100%;
            outline: none;
            font-size: 18px;
            box-sizing: border-box;
        }
    }

}

.insert-btn {
    background: #38d9a9;

    &:hover {
        background: #64e6be;
    }
    &:active {
        background: #20c997;
    }

    &.open {
        background: #ff6b6b;

        &:hover {
            background: #ff8787;
        }
        &:active {
            background: #ff5252;
        }
        transform: translate(-50%, 50%) rotate(45deg);
    }

    z-index: 5;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 60px;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);

    color: white;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.125s ease-in;
}